

p#title{
    font-weight: bold;
    font-size: large;
    text-align: center;
}
p#abtract{
    font-style: italic;
    text-align: justify;
    padding: 0 5%;
}

p{
    padding: 0 5%;
    text-align: justify;
}
img{
    width: 20%;
    margin: 1% 5%;
}
a{
    color:blue;
    text-decoration: none;
}
a:hover{
    color: cadetblue;
}

table#userRegistration{
    margin: auto;
    width: 70%;
    background-color:  rgb(230, 174, 70);
    padding: 0.5%;
}

th#userTH{
    background-color: beige;
    color: blue;
    font-weight: bold;
}

tr#userRegistration{
    text-align: center;
}

td.tbDetail{
    padding-left: 1%;
}

table#tbLogin{
    margin: auto;
    width: 40%;
    background-color: rgb(230, 174, 70);
    border-radius: 1%;
    padding: 0.5%;
}

th#thAddProduct{
    text-align: center;
    font-size: large;
    color: blue;
    background-color: bisque;
}

td#btnAddProduct{
    text-align: center;
    padding-top: 2%;
}